<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<title>Hello H5+</title>
		<script type="text/javascript" src="../../js/plugin/mui.min.js"></script>
		<script type="text/javascript">
			var ws=null,wo=null;
			var scan=null,domready=false, pageId = null;
			document.addEventListener("againBarcode", function() {
				plusReady()
			})
			function plusReady(){
				if(ws||!window.plus||!domready){
					return;
				}
				// 获取窗口对象
				ws=plus.webview.currentWebview();
				wo=ws.opener();
				pageId = ws.pageId;
				// 开始扫描
				ws.addEventListener('show', function(){
					scan=new plus.barcode.Barcode('bcid');
				    scan.onmarked=onmarked;
				    scan.start({conserve:true,filename:'_doc/barcode/'});
				}, false);
			    ws.show('pop-in');
			}
			if(window.plus){
				plusReady();
			}else{
				document.addEventListener('plusready', plusReady, false);
			}
			document.addEventListener('DOMContentLoaded', function(){
				domready=true;
				plusReady();
			}, false);
			function cancelScan() {
				scan.cancel()
			}
			function startScan() {
				scan ? scan.start({conserve:true,filename:'_doc/barcode/'}) : plusReady();
			}
			// 二维码扫描成功
			function onmarked(type, result, file){
			    switch(type){
			    	case plus.barcode.QR:
			    	type = 'QR';
			    	break;
			    	case plus.barcode.EAN13:
			    	type = 'EAN13';
			    	break;
			    	case plus.barcode.EAN8:
			    	type = 'EAN8';
			    	break;
			    	default:
			    	type = '其它'+type;
			    	break;
			    }
			    result = result.replace(/\n/g, '');
			    var mainWs = plus.webview.getWebviewById(pageId);
			    mui.fire(mainWs, "barcodeResult", {
			    	resultInfo: result
			    });
			}
		</script>

		<style type="text/css">
			#bcid {
				width: 100%;
				position: absolute;
				top: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				text-align: center;
				background: #000;
			}
			.tip {
				color: #FFFFFF;
				font-weight: bold;
				text-shadow: 0px -1px #103E5C;
			}
			
		</style>
	</head>
	<body >
		<div id="bcid">
			<div style="height:40%";"></div>
			<p class="tip">...载入中...</p>
		</div>
	</body>
</html>
