/**
 * author pzh
 * 总部运营系统主题配置
 */
@mcm-color-white: #fff;
@mcm-color-black: #000;

/*主色调*/
@mcm-color-primary: #1EC551;

/*辅助色*/
@mcm--color-success: #16A8FD;
@mcm--color-warning: #F9AB0C;
@mcm--color-danger: #FF5B60;
@mcm--color-info: #909399;

/*主要字体色*/
@mcm-color-text-primary: #1C2C43;

/*常规文字颜色*/
@mcm-color-text-regular: #606266;

/*次要文字颜色*/
@mcm-color-text-secondary: #909399;

/*不可输入、禁用*/
@mcm-color-text-placeholder: #C0C4CC;

/*背景色*/
@mcm-background-color-base: #F2F6FC;

/*主要边框*/
@mcm-border-width-base: 1px;
@mcm-border-style-base: solid;
@mcm-border-color-base: #EBEEF5;
@mcm-border-base: mcm-border-width-base mcm-border-color-base mcm-border-style-base;

/*分割线*/
@mcm-border-line-color: #F4F4F4;

/*菜单选中*/
@mcm-menu-back-active: saturate(@mcm-color-primary,20%);